@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Roboto:wght@300;400&display=swap");

* {
  padding: 0px;
  margin: 0px;

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:visited {
  color: #4f7bd2 !important;
  text-decoration: none;
  margin-left: 7px;
}

h1,h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #413c3c;
  margin: 0px;
}
h2{
  font-size: 2rem;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5rem;
  /* identical to box height */
  color: #000000;
  margin: 0px;
}

/** loader css **/

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** loader css end **/

/* sigup and login css */

.login,
.signup {
  width: 100vw;
  height: 100vh;
}

.login .loginleft,
.signup .signupleft {
  width: 100%;
  height: 100%;
  background: radial-gradient(
      132.78% 117.92% at 87.64% 88.62%,
      rgba(123, 230, 217, 0.54) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      64.44% 42.33% at 9.58% 95.95%,
      #a356f5 0%,
      rgba(172, 212, 235, 0) 100%
    );
}

.login .loginleft .box,
.signup .signupleft .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    97.85% 48.37% at 58.06% 43.99%,
    #ff73f9 0%,
    rgba(172, 212, 235, 0) 100%
  );
}

.login .loginleft .box .boxcontent,
.signup .signupleft .box .boxcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 82px 59px;
  gap: 10px;
  width: 45%;
  height: 45%;
  background: rgba(255, 255, 255, 0.41);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 37px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.signup .signupright .box .boxcontent .headercontainer h1 {
  font-size: 1.8rem;
  line-height: normal;
}

.signup .signupright .box .boxcontent .inputcontainer input {
  margin-top: -5px !important;
}

.login .loginleft .box .boxcontent .headingdifferent,
.signup .signupleft .box .boxcontent .headingdifferent {
  color: #4f7bd2 !important;
  text-decoration: none;
}

.login .loginleft .box .boxcontent p,
.signup .signupleft .box .boxcontent p {
  margin-top: 15px;
  color: #829fab;
}

.login .loginright .box,
.signup .signupright .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .signupright .box {
  height: 100%;
  align-items: flex-start;
}

.login .loginright .box .boxcontent,
.signup .signupright .box .boxcontent {
  width: 65%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login .loginright .box .boxcontent .signupbtn a,
.signup .signupright .box .boxcontent a {
  color: #4f7bd2 !important;
  text-decoration: none;
  margin-left: 7px;
}

.login .loginright .box .boxcontent .inputcontainer .forgetbtn a {
  color: #4f7bd2 !important;
  text-decoration: none;
  font-size: 1rem;
}
.login .loginright .box .boxcontent .inputcontainer .forgetbtn {
  margin-top: 10px;
  margin-bottom: -5px;
}

.login .loginright .box .boxcontent .headercontainer,
.signup .signupright .box .boxcontent .headercontainer {
  margin-bottom: 10px;
  font-size: 1.3rem !important;
}

.signup .signupright .box .boxcontent .headercontainer p {
  margin-top: 10px;
}

.login .loginright .box .boxcontent .inputcontainer,
.signup .signupright .box .boxcontent .inputcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signup .signupright .box .boxcontent .inputcontainer .MuiGrid-item {
  padding: 0px auto;
}

.login .loginright .box .boxcontent .forgetcontainer {
  margin-top: 20px;
}

.uploadPhotoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* signup and login css ends */

/* Index ROute CSS */

.indexRoute {
  width: 100vw;
  height: calc(100vh - 110px);
}

.indexRoute .indexRouteContent {
  width: calc(100% - 130px);
  height: calc(100% - 20px);
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 110px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

/* Index ROute CSS Ends*/

/** sidebar css */

.sidebar {
  position: absolute;
  width: 70px;
  height: 95vh;
  left: 20px;
  top: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #000000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .sidebarcontent {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
}

.sidebar .sidebarcontent .logo {
  margin-bottom: 30px !important;
}

.sidebar .sidebarcontent .sidebaritem {
  margin: 15px 0px;
  padding: 8px;
  cursor: pointer;
}

.sidebaritem.active {
  background-color: #ffffff;
  border-radius: 12px;
}

.sidebaritem.active img {
  filter: invert(1);
}

/** sidebar css ends */

/** topbar css **/

.topbar {
  position: absolute;
  width: calc(100vw - 125px);
  height: 70px;
  right: 15px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbarbox {
  width: 35%;
  min-width: 480px;
  max-width: 600px;
  height: 55px;
  background: #f0f0f0;
  border-radius: 20px;
}

.searchbarbox .textfield fieldset {
  border: none;
}

.topbar .profilebox {
  width: 20%;
  min-width: 300px;
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.topbar .profilebox .notificationbox {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Search CSS Start */

.searchField .MuiInputBase-root fieldset {
  border-radius: 15px;
  outline: none;
}

.topbar .MuiAutocomplete-root {
  width: 40%;
  background: #f0f0f0;
  outline: none;
  border-radius: 15px;
  outline: none;
}

.customOptionContainer {
  cursor: pointer;
}
.customOptionContainer .friendcard :hover {
  background-color: #f0f0f0;
}

.customOptionContainer .friendactions {
  display: none;
}
.customOptionContainer .friendcard {
  width: 100%;
  margin-top: 0;
}
.customOptionContainer .friendcard .profileimagebox {
  width: 100%;
}

.searchAddFriend button {
  width: 105px !important;
}

/* Search CSS end */

/* for notification dropdown box */

.topbar .notificationbox button {
  margin: 0px;
}

#notificationmenu ul {
  /* height: 245px; */
  overflow: scroll;
}

.topbar .profilebox .profileimagebox {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topbar .profilebox .profileimagebox .profilename {
  width: calc(100% - 95px);
  height: 100%;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.topbar .profilebox .profileimagebox .profilename h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
  white-space: nowrap;
}

.topbar .profilebox .profileimagebox .profilename h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6d6968;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topbar .profilebox .profileimagebox .profileimage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .profilebox .profileimagebox .profileimage .profileavatar {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}

.noNotifications {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 230px;
  font-size: 1rem;
}
/** topbar css ends **/

/** popover css **/

.notebtn {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

#simple-popover .notecontent.homecontentpopover {
  display: block !important;
  width: 100%;
  height: 97%;
  background: rgba(109, 105, 104, 0.8);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 24px;
}

#simple-popover .notecontent.mnemonicnotes,
#simple-popover .notecontent.normalnotes,
#simple-popover .notecontent.profile,
#simple-popover .notecontent.notetitle {
  display: block !important;
  width: 100%;
  height: 97%;
  background: #f5f5f5;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 7px;
}

#simple-popover .notecontent.profile {
  height: 100%;
}

#simple-popover .notecontent .notebottom {
  width: calc(100% - 40px);
  height: 100px;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#simple-popover .notecontent .notebottom .noteclosebtn {
  display: flex;
}

#simple-popover .notecontent .notebottom button {
  width: 125px !important;
  height: 50px;
  margin: 0px 15px 0px 0px !important;
}

#simple-popover .notecontent .notetop {
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.notetop .notetopcontent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notetop .notetopcontent .normalnotes,
.notetop .notetopcontent .Mnemonicnotes{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notetop .notetopcontent .normalnotes button,
.notetop .notetopcontent .Mnemonicnotes button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notetop .notetopcontent .normalnotes button .MuiAvatar-circular,
.notetop .notetopcontent .Mnemonicnotes button .MuiAvatar-circular {
  background-color: white;
  color: black;
}

.notetop .notetopcontent.normalnotebox,
.notetop .notetopcontent.mnemonicnotebox,
.notetop .notetopcontent.profilebox,
.notetop .notetopcontent.notetitlebox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center;
}

.notetop .notetopcontent.normalnotebox .normalnotesheading,
.notetop .notetopcontent.mnemonicnotebox .mnemonicnotesheading,
.notetop .notetopcontent.profilebox .profileheading,
.notetop .notetopcontent.notetitlebox .notetitleheading {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notetop .notetopcontent.profilebox .profileheading {
  position: sticky;
  top: 15px;
  margin-top: 15px;
}

.notetop .notetopcontent.normalnotebox .normalnotesheading h3,
.notetop .notetopcontent.mnemonicnotebox .mnemonicnotesheading h3,
.notetop .notetopcontent.profilebox .profileheading h3,
.notetop .notetopcontent.notetitlebox .notetitleheading h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px !important;
  line-height: 23px;
  color: #000000;
  margin: 0px !important;
}

.notetop .notetopcontent.normalnotebox .normalnotescontent,
.notetop .notetopcontent.mnemonicnotebox .mnemonicnotescontent,
.notetop .notetopcontent.profilebox .profilecontent,
.notetop .notetopcontent.notetitlebox .notetitlecontent {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.notetop .notetopcontent.notetitlebox .notetitlecontent .notedetails,
.notetop .notetopcontent.notetitlebox .notetitlecontent .notesharing {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px;
}

.notetop .notetopcontent.notetitlebox .notetitlecontent .notedetails h4,
.notetop .notetopcontent.notetitlebox .notetitlecontent .notesharing h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  line-height: 15px;
  color: #000000;
  margin: 10px 0px 15px 0px !important;
}

.notetop .notetopcontent.notetitlebox .notetitlecontent .notesharing .notesharingcontent{
  width: 100%;
  margin-top: 15px;
}

.notetop .notetopcontent.profilebox .profilecontent {
  padding-top: 20px;
}

.notetop .notetopcontent.profilebox .profilecontent .profilepic {
  position: sticky;
  top: 69px;
  background: #f5f5f5;
  z-index: 10;
}

/** popover css ends **/

/** richtexteditor css **/

.normalnotescontent > div:first-child{
  width: 100%;
  height: 100%;
}

/** richtexteditor css ends **/

/** notecard css **/

.notecard.normal {
  width: calc(100% - 40px);
  height: auto;
  min-height: 200px;
  border-radius: 20px;
  padding: 20px;
  color: rgb(0, 0, 0);
  background: rgba(240, 240, 240, 0.68);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.notecard.mnemonic {
  width: calc(100% - 40px);
  height: auto;
  min-height: 200px;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  background: #06080f;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.notecard.normal .notecardheading,
.notecard.mnemonic .notecardheading {
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notecard.normal .notecardheading h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  line-height: 20px;
  color: #000000;
  margin: 0px !important;
}

.notecard.mnemonic .notecardheading h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  line-height: 20px;
  color: #ffffff;
  margin: 0px !important;
}

.notecard.normal .notecardheading .editicon,
.notecard.mnemonic .notecardheading .editicon {
  width: 30px;
  height: 30px;
  background: #c8c8c866;
  cursor: pointer;
}

.notecard.normal .notecardheading .editicon svg {
  width: 17px;
  height: 17px;
  fill: #000000;
}

.notecard.mnemonic .notecardheading .editicon svg {
  width: 17px;
  height: 17px;
  fill: #ffffff;
}

.notecard.normal .notecardcontent,
.notecard.mnemonic .notecardcontent {
  width: 100%;
  height: calc(100% - 100px);
  min-height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.notecard.normal.home .notecardcontent,
.notecard.mnemonic.home .notecardcontent {
  height: 150px;
}

.notecard.normal .notecardcontent p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 20px;
  color: #000000;
  margin: 0px !important;
}

.notecard.mnemonic .notecardcontent p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 20px;
  color: #ffffff;
  margin: 0px !important;
}

.notecard.normal.home .notecardsharing,
.notecard.mnemonic.home .notecardsharing {
  display: none;
}

.notecard.normal .notecardsharing,
.notecard.mnemonic .notecardsharing {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** notecard css ends **/

/** home css **/

.home,
.share {
  width: 100%;
  height: 100%;
}

.home .homecontent,
.share .sharecontent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/** home css ends **/

/** friend css **/

.friend {
  width: 100%;
  height: 100%;
}

.friend .friendbox {
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

.friend .friendbox .friendcontentbox {
  height: calc(100vh - 125px);
  padding: 0px;
}

.friendcontentbox .friends,
.friendcontentbox .friendrequest,
.friendcontentbox .friendsuggestion {
  height: calc(100vh - 130px);
  background: #f0f0f0;
  filter: drop-shadow(0px 0.5px 0.5px #f0f0f0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 0px 0px;
  overflow-y: scroll;
}

.friends,
.friendrequest,
.friendsuggestion {
  height: calc(100% - 10px) !important;
}

.friends .friendsheading,
.friendrequest .friendrequestheading,
.friendsuggestion .friendsuggestionheading {
  width: 90%;
  height: auto;
  padding: 25px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #f0f0f0;
  z-index: 1;
}

.friends .friendsheading p:nth-child(1),
.friendrequest .friendrequestheading p:nth-child(1),
.friendsuggestion .friendsuggestionheading p:nth-child(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  color: #000000;
}

.friends .friendscontent,
.friendrequest .friendrequestcontent,
.friendsuggestion .friendsuggestioncontent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
}

.noFriends {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 100%;
}

/** friendcard css **/

.friendcard {
  width: 90%;
  height: 70px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px 0px 0px;
}

.friendcard .profileimagebox {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.friendcard .profileimagebox:hover,
.friendcard .profileimagebox .profilename:hover,
.friendcard .profileimagebox .profilename h3:hover,
.friendcard .profileimagebox .profilename h4:hover {
  background-color: transparent !important;
}

.friendcard .profileimagebox .profileimage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendcard .profileimagebox .profileimage img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.friendcard .profileimagebox .profilename {
  width: calc(100% - 85px);
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.friendcard .profileimagebox .profilename h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.friendcard .profileimagebox .profilename h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6d6968;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.friendcard .friendactions {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.friendcard .friendactions:hover,
.friendcard .friendactions .accept:hover,
.friendcard .friendactions .remove:hover,
.friendcard .friendactions .request:hover {
  background: transparent !important;
}

.friendcard .friendactions .accept,
.friendcard .friendactions .remove,
.friendcard .friendactions .request {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.friendcard .friendactions .accept .acceptbutton,
.friendcard .friendactions .remove .removebutton,
.friendcard .friendactions .request .requestbutton {
  width: 85px;
  height: 26px;
  margin: 0px !important;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
}

/** friendcard css ends **/

/** friend css ends **/
