@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Roboto:wght@300;400&display=swap');

* {
  padding: 0px;
  margin: 0px;

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 *::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:visited{
  color: #4F7BD2 !important;
  text-decoration: none;
  margin-left: 7px;
}

h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #413C3C;
  margin: 0px;
}

p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5rem;
  /* identical to box height */
  color: #829FAB;
  margin: 0px;
}

/** loader css **/

.loader{
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

/** loader css end **/

/* sigup and login css */

.login, .signup{
  width: 100vw;
  height: 100vh;
}

.login .loginleft, .signup .signupleft{
  width: 100%;
  height: 100%;
  background: radial-gradient(132.78% 117.92% at 87.64% 88.62%, rgba(123, 230, 217, 0.54) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(64.44% 42.33% at 9.58% 95.95%, #A356F5 0%, rgba(172, 212, 235, 0) 100%);
}

.login .loginleft .box, .signup .signupleft .box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(97.85% 48.37% at 58.06% 43.99%, #FF73F9 0%, rgba(172, 212, 235, 0) 100%)
}

.login .loginleft .box .boxcontent, .signup .signupleft .box .boxcontent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 82px 59px;
  gap: 10px;
  width: 45%;
  height: 45%;
  background: rgba(255, 255, 255, 0.41);
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 37px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.signup .signupright .box .boxcontent .headercontainer h1{
  font-size: 1.8rem;
  line-height: normal;
}

.signup .signupright .box .boxcontent .inputcontainer input{
  margin-top: -5px !important;
}

.login .loginleft .box .boxcontent .headingdifferent, .signup .signupleft .box .boxcontent .headingdifferent{
  color: #4F7BD2 !important;
  text-decoration: none;
}

.login .loginleft .box .boxcontent p, .signup .signupleft .box .boxcontent p{
  margin-top: 15px;
}

.login .loginright .box, .signup .signupright .box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .signupright .box{
  height: 100%;
  align-items: flex-start;
}

.login .loginright .box .boxcontent, .signup .signupright .box .boxcontent{
  width: 65%;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login .loginright .box .boxcontent .signupbtn a,.signup .signupright .box .boxcontent  a{
  color: #4F7BD2 !important;
  text-decoration: none;
  margin-left: 7px;
}

.login .loginright .box .boxcontent .inputcontainer .forgetbtn a {
  color: #4F7BD2 !important;
  text-decoration: none;
  font-size: 1rem;
}
.login .loginright .box .boxcontent .inputcontainer .forgetbtn {
  margin-top: 10px;
  margin-bottom: -5px;
}

.login .loginright .box .boxcontent .headercontainer, .signup .signupright .box .boxcontent .headercontainer{
  margin-bottom: 10px;
  font-size: 1.3rem !important;
}

.signup .signupright .box .boxcontent .headercontainer p{
  margin-top: 10px;
}

.login .loginright .box .boxcontent .inputcontainer, .signup .signupright .box .boxcontent .inputcontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signup .signupright .box .boxcontent .inputcontainer .MuiGrid-item{
  padding: 0px auto;
}

.login .loginright .box .boxcontent .forgetcontainer{
  margin-top: 20px;
}

.uploadPhotoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* signup and login css ends */

/** sidebar css */

.sidebar{
  position: absolute;
  width: 70px;
  height: 95vh;
  left: 20px;
  top: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #000000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .sidebarcontent{
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
}

.sidebar .sidebarcontent .logo{
  margin-bottom: 30px !important;; 
}

.sidebar .sidebarcontent .sidebaritem{
  margin: 15px 0px;
  padding: 8px;
}

.sidebaritem.active{
  background-color: #ffffff;
  border-radius: 12px;
}

.sidebaritem.active img{
  filter: invert(1);
}


/** sidebar css ends */

/** topbar css **/

.topbar{
  position: absolute;
  width: calc(100vw - 125px);
  height: 70px;
  right: 15px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .searchbarbox{
  width: 35%;
  min-width: 300px;
  max-width: 600px;
  height: 55px;
  background: #F0F0F0;
  border-radius: 20px;
}

.topbar .searchbarbox .textfield fieldset{
  border: none;
}

.topbar .profilebox{
  width: 20%;
  min-width: 300px;
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.topbar .profilebox .notificationbox{
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 16px;
}

.topbar .profilebox .profileimagebox{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topbar .profilebox .profileimagebox .profilename{
  width: calc(100% - 95px);
  height: 100%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.topbar .profilebox .profileimagebox .profilename h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topbar .profilebox .profileimagebox .profilename h4{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6D6968;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.topbar .profilebox .profileimagebox .profileimage{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .profilebox .profileimagebox .profileimage .profileavatar{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}

/** topbar css ends **/

/** home css **/

.home{
  width: 100vw;
  height: calc(100vh - 125px);
}

.home .homecontent{
  width: calc(100% - 130px);
  height: 100%;
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 105px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homecontent .friend,.homecontent .dashboard,.homecontent .mention,.homecontent .reminder,.homecontent .share{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** home css ends **/

/** friend css **/

.friend{
  width: 100%;
  height: 100%;
}

.friend .friendbox{
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

.friend .friendbox .friendcontentbox{
  height: calc(100vh - 125px);
  padding: 0px;
}

.friendcontentbox .friends,.friendcontentbox .friendrequest,.friendcontentbox .friendsuggestion{
  height: calc(100vh - 130px);
  background: #F0F0F0;
  filter: drop-shadow(0px 0.5px 0.5px #F0F0F0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 0px 0px;
  overflow-y: scroll;
}

.friends .friendsheading,.friendrequest .friendrequestheading,.friendsuggestion .friendsuggestionheading{
  width: 90%;
  height: auto;
  padding: 25px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #F0F0F0;
  z-index: 1;
}

.friends .friendsheading p:nth-child(1),.friendrequest .friendrequestheading p:nth-child(1),.friendsuggestion .friendsuggestionheading p:nth-child(1){
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  color: #000000;
}

.friends .friendscontent, .friendrequest .friendrequestcontent, .friendsuggestion .friendsuggestioncontent{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
}

/** friend css ends **/

/** friendcard css **/

.friendcard{
  width: 90%;
  height: 70px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px 0px 0px;
}

.friendcard .profileimagebox{
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.friendcard .profileimagebox .profileimage{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendcard .profileimagebox .profileimage img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}

.friendcard .profileimagebox .profilename{
  width: calc(100% - 85px);
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.friendcard .profileimagebox .profilename h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.friendcard .profileimagebox .profilename h4{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #6D6968;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.friendcard .friendactions{
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.friendcard .friendactions .accept,.friendcard .friendactions .remove,.friendcard .friendactions .request{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.friendcard .friendactions .accept .acceptbutton, .friendcard .friendactions .remove .removebutton, .friendcard .friendactions .request .requestbutton{
  width: 85px !important;
  height: 26px;
  margin: 0px !important;
  background: #BEBEBE;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
}

.friendcard .friendactions .custombuttonremoveclass .removebutton, .friendcard .friendactions .custombuttonrequestclass .requestbutton{
  background: rgba(55, 106, 205, 0.87) !important;
}


/** friendcard css ends **/